__pycache__
scp.py
.env
test_venv/
results
*.pyc
/gifs/
build
win_rate
*.so
*.csv
RODE
*.egg-info/
wandb
.vscode
api
logs
.nfs*
*.so
training/logs/
training/checkpoints/
env/
build/
checkpoints/
dist/
runs/
videos/
wandb/
logs/
training/models/
mprofile*
mprof/
mid_layer_env/
solutions/
eval/
mprof/
spg/
mem_test.sh