__pycache__
scp.py
.env
test_venv/
results
*.pyc
/gifs/
build
win_rate
*.so
*.csv
RODE
*.egg-info/
wandb
.vscode
api
logs
.nfs*
*.so
training/logs/
training/checkpoints/
training/models/
training/runs/
training/videos/
training/wandb/