PyYAML
pymunk>=6.4.0
numpy==1.26.4
scikit-image
Pillow
pytest
opencv-python
matplotlib
setuptools
-e git+https://github.com/emmanuel-battesti/simple-playgrounds.git@swarm-rescue-v2#egg=spg
 
fpdf
pandas==2.0.3
pathlib2
gym
arcade==2.6.17
tripy
python-statemachine
numba
coverage
gprof2dot
gymnasium
pygame
pettingzoo
wandb
stable_baselines3[extra]==2.3.2
sb3_contrib
moviepy
tensorboard